<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="resourceHandling" type="Kelp.ResourceHandling.ConfigurationHandler,Kelp"/>
	</configSections>

	<appSettings>
		<add key="site-path" value="Resources/TestSite"/>
	</appSettings>
	
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

	<resourceHandling tempDir="~/tmp/cache">
		<script Enabled="true" IndentSize="2" 
						CollapseToLiteral="false" CombineDuplicateLiterals="false" 
						EvalLiteralExpressions="false" IgnoreConditionalCompilation="true" 
						ManualRenamesProperties="false" MinifyCode="true" 
						PreserveFunctionNames="true" RemoveFunctionExpressionNames="false" 
						RemoveUnneededCode="true" StripDebugStatements="false" 
						InlineSafeStrings="true" EvalTreatment="Ignore" 
						LocalRenaming="KeepAll" OutputMode="SingleLine"/>
		
		<css Enabled="false" IndentSpaces="2" 
				 ExpandOutput="true" MinifyExpressions="false" 
				 TermSemicolons="true" ColorNames="Hex" 
				 CommentMode="Hacks"/>
	</resourceHandling>

</configuration>
